body {
    background-image: url('img/kanto-map.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.header1 {
    color: white;
    background-color: rgba(34, 34, 34, 0.377);
    font-size: 40px;
	border-radius: 20px;
	padding: 1px;
	text-align: center;
    width: 15%;
	margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}
.div1 {
    width: 20%;
}