body {
    background-image: url('img/kanto-map.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.div2{

}
.header1 {
    
}