/* indican los estilos de body */
body {
    background-color: rgba(255, 153, 0, 0.164);
}
/* indican los estilos de span (estilos del tipo fuego) */
span {
    background-color: orange;
    padding: 5px;
    font-weight: normal;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}
/* indican los estilos de la clase header1 (titulo de cindaquil) */
.header1 {
    color: black;
    font-size: 40px;
    font-weight: bold;
	text-align: center;
    font-family: 'Press Start 2P', cursive;
}
/* indican los estilos de la imagen de la derecha de cindaquil */
#img1 {
    width: 25%;
}
/* indican los estilos de la primera descripción */
.desc1 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 1px;
    font-family: 'Press Start 2P', cursive;
}
/* indican los estilos de la segunda descripción */
.desc2 {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Press Start 2P', cursive;
}
/* indican los estilos del botón de la vuelta al inicio */
button {
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
/* indican los estilos del botón de la vuelta al inicio */
#boton-volver {
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
/* indican los estilos de la letra del botón de la vuelta al inicio */
a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Press Start 2P', cursive;
}
/* indican los estilos de la tabla */
table {
    margin: 0 auto;
    background-color: rgba(255, 150, 0, 0.4);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
table td img {
    display: block;
    max-width: 200px;
}
th {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.td1 {
    background-color: rgba(255, 120, 0, 0.4);
    border: 2px solid black;
    border-radius: 100%;
}
.td {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(255, 100, 0, 0.3);
    border-radius: 10px;
}
.td2 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(255, 100, 0, 0.1);
    border-radius: 10px;
}
.td3 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(255, 100, 0, 0.1);
}
caption {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* indican los estilos del segundo span */
.span {
    background-color: orange;
    padding: 5px;
    font-weight: normal;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    display: block;
    text-align: center;
}