body {
    background-color: rgba(255, 153, 0, 0.164);
}
span {
    background-color: orange;
    padding: 5px;
    font-weight: normal;
    border-radius: 5px;
}
.header1 {
    color: black;
    font-size: 40px;
    font-weight: bold;
	text-align: center;
    font-family: 'Press Start 2P', cursive;
}
#img1 {
    width: 25%;
}
.desc1 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 1px;
    font-family: 'Press Start 2P', cursive;
}
.desc2 {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Press Start 2P', cursive;
}
button {
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
#boton-volver {
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Press Start 2P', cursive;
}